@{
    ViewData["Title"] = "";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

</div>

<section class="mt-4 py-5" style="background-color: #fff7ef;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <img class="img-fluid" src="~/img/books/ksiazka.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="about_text text-center text-md-left">
                    <h2 class="mt-1">@Model.Title</h2>
                    <h4 class="mt-1" style="color: #ff8b23">
                        @Model.Price<br>
                        @Model.Price
                    </h4>
                    <h5 class="mt-1">@Model.Author</h5>
                    @foreach (var novelGenre in Model.NovelGenres)
                    {
                        var genre = novelGenre.Genre;
        <p>@genre.Name</p>
                    }
                    <h5 class="mt-4" style="font-family: Roboto; font-weight: normal">@Model.Description</h5>
                </div>
            </div>
        </div>
    </div>
</section>
